# -----------------------------------------------------------------------
# NOTICE: DO NOT RUN THIS WITH EAC ENABLED.
#
# TuxTrain is generic and it doesn't care what you are doing, therefor
# it does NOT care about something like EAC. I've not yet heard anyone
# neither try nor getting banned for unlocking their FPS, but I don't
# think you want to be the first either. It is also unfair when others
# are forced to play at 60 FPS.
#
# The regions in this trainer are fully tightened, I am not entirely sure
# if they are the same for different versions/releases of Elden Ring.
#
# If tuxtrain cannot find the pattern, please create an issue!
# See below for how to find the correct region for your version:
#
#	- Either remove the region entirely to search the entire process
#	memory (this may take some time), tuxtrain will then output the
#	correct region once found.
#
#	- Or manually try each map (based on /proc/pid/maps), they should
#	look similar to below. Convert the addresses to decimal
#	(e.g. 140000000-140001000 for [start, end]), it's likely the ones close
#	in number to the preset regions in this file.
#	----------------
#	140000000-140001000 rwxp 00000000 103:02 3288569595 /home/user/games/elden-ring/drive_c/Games/ELDEN RING/Game/eldenring.exe
#	140001000-14452b000 rwxp 00000000 00:00 0
#	14452b000-1457c9000 rwxp 00000000 00:00 0
#	16fff0000-16fff1000 rwxp 00000000 00:00 0
#	----------------
#
# CREDITS:
# The current hexadecimal patterns were taken from:
#	- https://github.com/uberhalit/EldenRingFpsUnlockAndMore
#	- https://github.com/gurrgur/er-patcher
#	- https://github.com/techiew/EldenRingMods
# -----------------------------------------------------------------------
name = "Elden Ring Trainer"
version = '0.0.3'
process = "eldenring.exe"
enable = false

[daemon]
delay = 2000

[[feature]]
name = "FPS Unlock"
region = [5383384927, 5383384935]
pattern = "C7 __ __ __ 88 88 3C EB"
replace = "__ __ __ 60 0B 36 3B __"
enable = false

# NOTICE:
# This does not modify your hertz, it only stops Elden Ring from doing it.
# In order to stop Elden Ring from actually forcing your monitor
# (on X11) to 60hz, make sure to either run the daemon (tuxtraind)
# or start tuxtrain quickly after launching the game.
[[feature]]
name = "Hz Unlock"
region = [5395294933, 5395294949]
pattern = "EB __ C7 __ __ 3C 00 00 00 C7 __ __ 01 00 00 00"
replace = "__ __ __ __ __ 00 __ __ __ __ __ __ 00 __ __ __"
enable = false

# Custom resolution
# By default replaces the 1920x1080 option with 3440x1440 where:
#	"70 0D" is 3440 but flipped
#	"A0 05" is 1440 but flipped
#
# To customize the resolution:
#	1. Convert your custom width and height to hexadecimal
#	2. Flip the two hexadecimal bytes, e.g. "07 80" for 1920 becomes "80 07".
[[feature]]
name = "Custom Resolution"
region = [5429833656, 5429833672]
#pattern = "00 05 00 00 D0 02 00 00 A0 05 00 00 2A 03 00 00" # Option 1280x720 using "00 05" and "D0 02"
pattern = "80 07 00 00 38 04 00 00 00 08 00 00 80 04 00 00" # Option 1920x1080 using "80 07" and "38 04"
replace = "70 0D __ __ A0 05 __ __ __ __ __ __ __ __ __ __" # Replace with 3440x1440 using "70 0D" and "A0 05"
enable = false

[[feature]]
name = "Aspect Ratio Unlock"
region = [5395287331, 5395287348]
pattern = "8B __ 85 __ 74 __ 44 8B __ __ 45 85 __ 74 __ 41 8B"
replace = "__ __ __ __ EB __ __ __ __ __ __ __ __ __ __ __ __"
enable = false

# Increases animation distance
# May also fix low frames for enemy animations when:
#	- using ultrawide resolutions
#	- enemies are outside the regular 16:9 screen space
[[feature]]
name = "Animation Distance Boost"
region = [5379914000, 5379914030]
pattern = "E8 __ __ __ __ 0F 28 __ 0F 28 __ E8 __ __ __ __ F3 0F __ __ 0F 28 __ F3 41 0F 5E 4C 24 54"
replace = "__ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ 0F 57 C9 66 0F EF C9"
enable = false

[[feature]]
name = "Remove Chromatic Aberration"
pattern = "0F 11 __ 60 __ 8D __ 80 00 00 00 0F 10 __ A0 00 00 00 0F 11 __ F0 __ 8D __ B0 00 00 00 0F 10 __ 0F 11 __ 0F 10 __ 10 __ __ __ __ __ __ __ __ 0F 11 __ __"
replace = "__ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ 66 0F EF C9"
region = [5397271058, 5397271109]
enable = false

[[feature]]
name = "Remove Vignette"
pattern = "F3 0F 10 __ 50 F3 0F 59 __ __ __ __ __ E8 __ __ __ __ F3 __ 0F 5C __ F3 __ 0F 59 __ __ 8D __ __ A0 00 00 00"
replace = "__ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ 0F 5C C0 90 __ __ __ __ __ __ __ __"
region = [5397270341, 5397270377]
enable = false
