[Unit]
Description=TuxTrain Daemon

[Service]
Type=simple
Restart=always
RestartSec=2
ExecStart=/usr/bin/tuxtraind

[Install]
WantedBy=multi-user.target
